{{ define "download" }}
{{ template "header" }}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Download your test</h1>
    <form method="get" enctype="multipart/form-data" action="/downloadFile">
        <div class="form-group">
            <output type="file" name="file" />
        </div>
        <button type="submit" class="btn btn-primary">Download</button>
        <p class="lead">
        <a href="/upload" class="btn btn-lg btn-secondary">To page Upload</a>
        </p>
    </form>
</main>
{{ template "footer" }}

{{ end }}
