{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maining</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css">
<!--    <link rel="stylesheet" href="static/css/main.css">-->
</head>
<body class="text-center">
<div class="cover-containerInfo d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Tinkoff Test Form</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" aria-current="page" href="/">Main</a>
            </nav>
        </div>
    </header>
{{ end }}