{{ define "registration" }}
{{ template "header" }}


<main role="main" class="inner cover">
    <div id="login-form">
        <h1 class="cover-heading">Registration</h1>
        <form action="/registration" method="post">
            <div>
                <label for="team">Команда</label>
                <input type="text" name="team" id="team"/>
            </div>
            <div>
                <label for="login">Имя пользователя:</label>
                <input type="text" name="username" id="login"/>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-secondary">Sing Up</button>
                <a href="/registration_team" type="submit" class="btn btn-lg btn-secondary"> Sing Up Team</a>
            </div>
        </form>
    </div>
</main>

{{ template "footer" }}

{{ end }}
