
{{ define "home_page" }}

{{ template "header" }}

        <main role="main" class="inner cover">
            <h1>Igor, your page</h1>
            <p class="lead"> Good Moning </p>
            <p class="lead">User : {{ .Name }} <br> Age: {{ .Age }}<br> Money: {{ .Money }}</p>
        </main>

        <h1> Danger Master </h1>
        {{ if eq .Name "Bob" }}
        <!--    eq -> ne ; lt -> gt -->
        <p> Oh, Hello </p>
        {{ else }}
        <p> Who are you?</p>
        {{ end }}

        {{ range .Hobbies }}
            <p class="lead"><b> {{ . }}</b></p>
        {{ else }}
            <p class="lead"><b> You haven't records</b></p>
        {{ end }}

{{ template "footer" }}

{{ end }}
