{{ define "Registration" }}
{{ template "header" }}


<h1>Registration Form</h1>
<form method="POST" action="/registration">
    <div class="form-group">
        <label for="login">Company:</label><br>
        <input type="text" class="form-control" id="login" name="login" placeholder="Enter your login Company">
    <label for="password">Password:</label><br>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-lg btn-secondary">Sing Up</button>
</form>

{{ template "footer" }}

{{ end }}